@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #03a1d8, #066f92);
  border-radius: 3px;
}

.light ::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #03a3d87a, #066f9282);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #03a1d8, #066f92);
  cursor: pointer;
}
.light ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #03a3d8df, #066f92d8);
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.table-container::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

.table-container::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #1051c2, #2575FC);
  border-radius: 6px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #1051c2, #2575FC);
  cursor: pointer;
}

.table-container::-webkit-scrollbar-track {
  background: #000000;
}


.nav-scroll {
  animation: scroll-transition;
  animation-timeline: scroll(y);
}

@keyframes scroll-transition {
  2% {
    background-color: #0a101aa0;
  
    box-shadow: 0px 4px 8px #289a6b1d; /* No shadow at the start */
  }
  
  100% {
    background-color: #0B1625;
  
    box-shadow: 0px 4px 8px #6c727080; /* Add a valid box-shadow */
  }
}